body {
    background: url("./img/wp2903096-starwars-background.jpg") no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.header__nav {
    display: flex;
    position: relative;
}

.header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    top: -50px;
}

.header__logo img {
    max-width: 400px;
    max-height: 200px;
}

.header__form {
    position: absolute;
    right: 10px;
    transform: translateY(50%);
    padding: 10px;
}

.search {
    width: 100%;
    position: relative;
}

.search input {
    border: none;
}

.search .input {
    width: 100%;
    padding: 8px 37px 9px 15px;
    box-sizing: border-box;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background: #EEE;
    font: 13px Tahoma, Arial, sans-serif;
    color: #555;
    outline: none;
}

.search .input:focus {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.4);
    background: #E8E8E8;
    color: #333;
}

.search .submit {
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    width: 37px;
    height: 100%;
    cursor: pointer;
    background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
    opacity: 0.5;
}

.search .submit:hover {
    opacity: 0.8;
}

.header__menu {
    max-width: 100%;
    max-height: 200px;
    border-bottom: 1px solid goldenrod;
    border-top: 1px solid goldenrod;
    padding: 0px 200px;
    margin-top: 100px;
    z-index: 1;
}

.header__menu ul {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    list-style: none;
    max-width: 100%;
}

.header__menu li {
    border-left: 1px solid goldenrod;
}



.header__menu li:last-child {
    border-right: 1px solid goldenrod;
}

.header__menu-items li a {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    display: block;
    padding: 10px 40px;
}

.header__menu-items li a:hover {
    color: goldenrod;
    cursor: pointer;
}

.header__menu-items li.active a {
    color: goldenrod;
}



.main__section {
    margin: 40px 300px;
}

.pagination {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px 30px;
    list-style: none;
}

.pagination__item {
    border: 1px solid goldenrod;
    padding: 5px;
    background-color: inherit;
    margin: 10px;
    color: white;
    font-weight: 700;
    border-radius: 50%;
}

.pagination__item.active {
    background-color: rgba(218, 165, 34, 0.473);
}

.pagination__item:hover {
    cursor: pointer;
    border: 1px solid green;
}

.list__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list__item {
    border: 1px solid goldenrod;
    border-radius: 20px;
    width: 300px;
    min-height: 120px;
    padding: 10px;
    list-style: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 20px;
    background-color: rgba(218, 165, 34, 0.473);
}

.btn__info {
    border: 1px solid white;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    background-color: rgb(6, 24, 83);
    border-radius: 20px;
    
}

.item__info {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid white;
    display: none;
    background-color: aqua;
    z-index: 2;
    max-width: 100%;
    text-align: center;
    padding: 10px;
}

.item__info.active {
    display: block;
}

.btn__close {
    border: 1px solid black;
    padding: 5px;
    width: 50px;
    border-radius: 20px;
    float: right;
    cursor: pointer;
}

.btn__close:hover {
    background-color: black;
    color: white;
}